<h1>Home Screen</h1>
<div class="row">
  <div>
    <%= form_tag(home_path, :method => "get", id: "search-form", class: "form-inline") do %>
      <div class="form-group mx-sm-3 mb-2">
        <label for="year">Choose a year </label>
        <%= text_field_tag :year, nil, class: 'form-control', style: 'with: 150%;', placeholder: 'Choose a year', value: @year %>
      </div>
      <button id="filter-btn" class='btn btn-primary' type="submit">Filter</button>
    <% end %>
    <table class="table">
      <thead>
      <tr>
        <th class="text-center">No.</th>
        <th class="text-center">Employee name</th>
        <th class="text-center">Role</th>
        <th class="text-center">Level</th>
        <%- (1..12).each do |month| %>
          <th class="text-center">Month <%= month %></th>
        <%- end %>
      </tr>
      </thead>
      <tbody>
        <%= form_with model: @work, url: upwork_path(), method: "post", local: true, class: 'form-horizontal', html: { role: 'form', "data-parsley-validate" => true} do |form|  %>
          <% @employees.each do |emp, index| %>
            <tr>
              <th scope="row"><%= index %></th>
              <td><%= emp.name %></td>
              <td><%= emp.role %></td>
              <td><%= emp.level %></td>
              <%- (1..12).each do |month| %>
                  <td class="text-center">
                    <select name="<%= "emp_#{emp.id}[month_#{month}]" %>">
                      <option style="color:red;" value="">Free time</option>
                      <%- @projects.each do |project|  %>

                        <%-
                          projectId = nil
                          @workByYear.each do |work|
                            if (work.month == month && work.project_id == project.id && emp.id == work.employee_id)
                              projectId = work.project_id
                              break
                            end
                          end
                        %>

                        <option value="<%= project.id %>"
                          <% if !projectId.nil? %>
                            selected
                          <%- end %>>
                          <%= project.name %>
                        </option>
                        
                      <%- end %>
                    </select>
                  </td>
              <%- end %>
            </tr>
          <% end %>
          <%= content_tag :div, class: 'action' do %>
            <%= form.submit 'SAVE', class: 'btn btn-primary signup', style: "margin-left: 19.5%;"%>
          <% end %>
        <% end %>
      </tbody>
    </table>

  </div>
</div>